html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,245,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  height: 100%;
  width: 100%;
  color: #FAF9F9;
}

#root a {
  color: #FAF9F9;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #090979;
}

.btn-primary {
  background-color: #090979;
  border-color: rgba(0,245,255,1);
}

#submitBtn {
  color: #FAF9F9;
  background-color: #090979;
  border-radius: 5px;
  border-style: none;
}