/* Defined a couple of universal color variables */
:root {
--main-accent: rgba(86, 166, 114, 1); 
--background: rgba(38, 38, 38, 1); 
 }
 
 /* Universal Selector  */
* {
    margin: 0; 
    padding: 0;  
  } 

/* Column setup */
.wrapper {
  display: flex;
  }

.left {
  width: 30%;
  padding: 50px;
  min-width: 282px;
  }

.right {
  width: 70%;
  padding: 50px;
  }

/* Main body text and images */
body { 
  font-family: "Goudy Bookletter 1911", sans-serif;
  font-size: 20px; 
  background-color: var(--background); 
  }

header,
footer {
  width: 100%;
  background-color: var(--background);
  color: var(--primary-text);
  }

h1 {
  font-size: 200%;
  }

h2 {
  padding: 5px;
  }

li {
  display: inline;
  padding: 20px;
  }
  
nav ul {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  overflow: auto;
  }
    
nav li {
  color: var(--main-accent);
  border-radius: 10px;
  padding: 20px;
  }
  
.center-name {
  text-align: center;
  color: var(--main-accent);
  }
  
.about-me,
.projects,
.contact {
  border: 2px solid var(--main-accent);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  color: var(--background);
  background-color: var(--main-accent);
  }
  
.contact {
  margin-top: 50px;
  height: auto;
  }

.about-me {
  margin-bottom: 50px;
  height: auto;
  }

.profile-image {
  display: flex;
  margin: auto;
  width: 60%;
  height: auto;
  border: 3px solid var(--main-accent);
  border-radius: 20px;
  }

.project-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 100%;
  padding: 18px;
  width: auto;
  height: auto;
  border-radius: 10px;
  }

.primary-image {
  max-width: 100%;
  max-height: 675px;
  border-radius: 20px;
  opacity: 0.85;
  }

.secondary-image {
  max-width: 85%;
  max-height: 275px;
  border-radius: 20px;
  opacity: 0.80;
  }

figcaption {
  padding: 15px;
  margin-bottom: 5px;
  }

.follow-me {
  margin-top: 15px;
  }

.footer {
  height: 50px;
  display: flex;  
  align-items: center; 
  justify-content: center;
  color: var(--main-accent);
  background-color: var(--background);
  }  

  /* Link properties */
a {
  display: block; 
  color: var(--main-accent);
  text-align: center;
  padding: 5px 3px;
  text-decoration: none;
  }

.contact a {
  display: inline-flex;
  flex-wrap: wrap;
  color: inherit;
  text-decoration: none;
  text-align: center;
  }

/* Hover effects */
.about-me:hover,
.projects:hover,
.contact:hover {
  border: 2px solid var(--main-accent);
  padding: 10px;
  text-align: center;
  color: var(--main-accent);
  background-color: var(--background);
  box-shadow: 5px 8px 8px black;
  text-shadow: 2px 4px 5px black;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  }

img:hover {
  box-shadow: 5px 8px 8px black;
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  border-radius: 10px;
  }

.primary-image:hover,
.secondary-image:hover {
  opacity: 1;
  }

.center-name:hover,
footer:hover,
.back-to-top:hover {
  text-shadow: -2px 5px 10px black;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
  }

nav li:hover {
  border: 2px solid var(--main-accent);
  border-radius: 10px;
  color: var(--background);
  background-color: var(--background);
  text-shadow: 2px 4px 5px black;
  transition: all 0.3s ease-in-out;
  }

/* General text alignment */
.text-right {
    text-align: right;
  }

.text-center {
    text-align: center;
  }

.text-left {
    text-align: left;
  }

  /* Social media icons */
.fa-twitter .icon {
  background: #55ACEE;
  color: white;
  border-radius: 10px;
  }

.fa-linkedin .icon {
  background: #007bb5;
  color: white;
  border-radius: 10px;
  }

.fa-instagram .icon {
  background: #007bb5;
  color: white;
  border-radius: 10px;
  } 

.contact a:hover, .icon:hover {
  border: 2px solid var(--main-accent);
  border-radius: 10px;
  padding: 5px;
  }

/* Media query for smaller screens */
@media screen and (max-width:768px) {
  .wrapper {
    display: block;
  }

  .left,
  .right {
    width: 80%;
    padding: 30px;
    margin: auto;
  }

  .nav ul {
    width: 95%;
  }

  /* Changed opacity to 1 here since mobile doesn't show the same hover effect as desktop */
  .primary-image,
  .secondary-image {
  opacity: 1;
  }

  /* Removes profile image border */
  .profile-image {
    border: 0;
  }

/* Adds 3D effect for mobile */
  .about-me,
  .projects,
  .contact,
  .profile-image {
    box-shadow: 5px 8px 8px black;
  }

  nav li,
  .center-name,
  .back-to-top,
  footer {
    text-shadow: 5px 8px 8px black;
  }
}
